<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antonio.cryptracer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cryptrace"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cryptrace"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Currency_selection" />
        <activity android:name=".Charts.Analytics" />
        <activity android:name=".Currencies.Currency" />
        <activity
            android:name=".Didactic_units.Didactic"
            android:label="@string/title_activity_didactic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Price.Price"
            android:label="@string/title_activity_price"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>